#list-item {
  display: flex;
}

#list-item > .btn-success {
  margin-left: auto;
}

#list-item > .btn-danger {
  margin-left: 5px;
}

.task-text {
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
}

.task-text__done {
  text-decoration: line-through;
  opacity: 0.6;
}
